torch
torchvision
pillow
fairseq
transformers
sentence_transformers
nltk
word2word
wget
joblib
lxml
g2p_en
whoosh
marisa-trie
kss
g2pm
g2p
g2pk
romkan
fugashi
ipadic
jieba
romkan
koparadigm
opencv-python
scikit-image
kollocate
tensorboardX
pytest
fastapi[all]
librosa
soundfile
torchaudio
editdistance
epitran
fastdtw
future
jieba
Pillow
pinyin
scikit-learn
scipy
SoundFile
numba
ko_pron
librosa
fastdtw
epitran
ko_pron
